html {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 15px;
}

body {
    line-height: 150%;
    background-color: #e7e7e7;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 50px;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%
}

table, th, td {
    border: 1px solid black;
}

td, th {
    height: 30px;
    padding: 5px 10px 5px 10px;
}

.page {
    height: 1200px;
    width: 750px;
    background-color: white;
    margin: 50px auto 50px auto;
    padding: 40px 60px 50px 60px;
    box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.75);
}

.noBullet {
    margin-left: 40px;
    list-style: none;
    margin-top: 0;
}

ul > li {
    margin-top: 15px;
}