#slideshow{
    width: 900px;
    height: auto;
    max-width: 95%;
    position: relative;
    margin: 0 auto;
}
 #myPhoto{
     width: 100%;
     overflow: hidden;
     height: 400px;
 }

 #mainSlideshow{
     position: relative;
 }

.holder{
    display: block;
    width: 100px;
    height: 100%;
    max-width: 100%;
    top: 0;
    position: absolute;
    z-index: 9999;
    opacity: 0.2;
    background-color: #d6d6d6;

}

.holder i{
    top: 50%;
    position: absolute;
    transform: translate(25%,-50%);
}

#leftHolder{
    left: 0px;
}


#rightHolder{
    right: 0px;

}

#smallSlideshow{
    text-align: center;
    border-color: #767676;
    border-style: solid;
    border-width: 5px;
    background-color: black;
}

#smallSlideshow img{
    display: inline-block;
    margin: 3px;
    border-width: 1px;
    border-color: white;
    border-style: solid;
}

.active{
    border-width: 2px !important;
    border-color: #E86700 !important;
    border-style: solid !important;
}
