.slideshow{
    width: 900px;
    height: auto;
    max-width: 95%;
    position: relative;
    margin: 0 auto;
}
 #myPhoto, #myVideo{
     width: 100%;
     overflow: hidden;
     height: 400px;
 }


 .mainSlideshow{
     position: relative;
 }

.holder{
    display: block;
    width: 100px;
    height: 100%;
    max-width: 100%;
    top: 0;
    position: absolute;
    z-index: 9999;
    opacity: 0;
    background-color: #d6d6d6;
}


.holder:hover{
    opacity: 0.2;
    cursor: pointer;
}

.holder i{
    top: 50%;
    position: absolute;
    transform: translate(25%,-50%);
}

#imageLeftHolder, #videoLeftHolder{
    left: 0px;
}

#videoLeftHolder, #videoRightHolder{
    height: 90%;
}


#imageRightHolder, #videoRightHolder{
    right: 0px;

}

#smallImageSlideshow, #smallVideoSlideshow{
    text-align: center;
    border-color: #767676;
    border-style: solid;
    border-width: 5px;
    background-color: black;
}

#smallImageSlideshow img, #smallVideoSlideshow img{
    display: inline-block;
    margin: 3px;
    border: 1px solid white;
}
#smallImageSlideshow img:hover, #smallVideoSlideshow img:hover{
    cursor: pointer;
    border:1px solid rgba(232, 103, 0, 1);
}

.active{
    border-width: 2px !important;
    border-color: #E86700 !important;
    border-style: solid !important;
}
