html{
    background-color: #F0EDDA;
}
/* Typography
-------------------------------------
*/
body,h1,h2,h3,h4,h5,h6,p{
    font-family: "palatino", Times;
    color:#000000;
}

p{
    font-size:17px;
}

a{
    color: #E86700;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
/* Navbar
-------------------------------------
*/
#top-nav{
    color:  #E86700;
    background-color: #fffce9;
    margin-left:1%;
}

.navbar {
    width: 100%;
    text-align: center;
    display:inline-block;
    list-style-type:none;
    padding:0;
}
.navbar li {
    float: left;
    text-align: center;
    list-style: none;
    font-family: 'Caesar Dressing', cursive;
    font-size: 22px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    opacity: 0.72;
    border-top: 2px solid #767676;
    border-bottom: 2px solid #767676;
    border-left: 2px solid #767676;
    position: relative;
    width:16.2%;
}
.navbar>li:last-child{
    border-right: 2px solid #767676;
}
.navbar>li>ul>li{
    border-top:none;
}
.navbar>li>ul>li:first-child{
    border-top:2px solid #767676;
}
.navbar a	{
    padding: 18px 0;
    text-decoration: none;
    display: block;

}
.navbar li:hover{
    opacity: 1;
}
.navbar ul {
    position: absolute;
    left: 0;
    display: none;
    margin: 0 0 0 -1px;
    padding: 0;
    list-style: none;
}
.navbar li ul, .navbar li ul li{
    width: 100%!important;
    z-index: 99999;
}
.navbar ul a {
    display: block;
    height: 15px;
    text-decoration: none;
}

.mobile-menu {
    width: 100%;
    text-align: left;
    display: none;
    list-style-type: none;
    padding: 0;
    max-width: 100%;
}

.mobile-menu a{
    text-decoration: none;
}


.mobile-menu li, label {
    text-align: left;
    list-style: none;
    font-family: 'Caesar Dressing', cursive;
    font-size: 25px;
    font-weight: 500;
    padding-left:0px;
    margin: 0;
    opacity: 0.72;
    border: 2px solid #767676;
    position: relative;
}

.mobile-menu ul{
    list-style: none;
    padding-left: 0px;
}


#drop-menu{
    width: 100px;
    height: 100px;
    vertical-align:middle;
}

@media(max-width:900px){
    #top-nav{
        margin-left:0.5%;
    }
    .navbar li{
        font-size: 14px!important;
    }
}
@media(max-width:700px){
    .navbar{
        display: none;
    }
    .mobile-menu{
        display:block;
    }

}
/* Header-Image
------------------------------------
*/
@media(max-width:500px){
    #header-image{
        display:none;
    }
}
/* Bottom footer
-------------------------------------
*/
#bottom-footer{
    background-color:#F0EDDA;
    padding: 10px;
    font-family: "palatino", Times;
    font-size: 17px;
}
#bottom-footer a{
    color:black;
}
#bottom-footer #contact{
    padding-top:15px;
    position: relative;
    border-right: 2px solid #b6b6b6;
    height:130px;
}
#footer-menu{
    text-align: center;
    padding-top:15px;
    display: block;
}

#footer-menu a{
    display:block;
    font-size: 18px;
    color: #8c8c8c;
    text-decoration: none;
}

#footer-menu a{
    margin-top:10px ;
}
#footer-menu .two a:first-child{
    margin-top: 0;
}

#footer-menu .two:not:first-child a{
    margin-top:10px;
}
#footer-menu a:first-child{
    color: #E86700;
}

#footer-menu a:hover{
    text-decoration: underline;
}

@media (max-width: 1122px){
    #bottom-footer #contact{

        margin:0;
    }
    #bottom-footer #contact p{
        font-size: 14px;
    }
}

@media (max-width: 875px){
    #contact p{
        margin-left:-30px !important;
    }
    #footer-menu a{
        font-size: 16px;
    }
    .menu-items{
        width:117%;
    }
}

@media (max-width: 734px) {
    #contact p{
        margin-left:-40px !important;
    }
    #footer-menu a{
        font-size: 14px;
    }
}

@media (max-width: 640px) {
    #contact p{
        margin-left: -50px !important;
        font-size: 12px!important;
    }
}
@media (max-width: 549px){
    #footer-menu{
        text-align:left;
    }
    .menu-items{
        width:100%;
    }
    .sub-menu{
        margin-left:10px;
    }
    #footer-menu a{
        font-size: 16px;
        margin-top:5px!important;
    }
    #contact p{
        margin: 0 !important;
    }
    #bottom-footer #contact{
        width:100%;
        height:75px;
        border-right:none;
        border-top: 1px solid #b6b6b6;
        text-align: center;
        padding-top:25px;
    }
    #bottom-footer #contact p{
        font-size: 14px!important;
    }
}
#main-container{
    margin-top:-3px;
    padding: 50px 15px;
    background-color:#FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.75);
    margin-bottom:-60px;
    z-index: 2;
}
#mountainBG{
    width:100%;
    margin-bottom:-5px;
}
/* Forms
-------------------------------------
*/
input[type="email"],
input[type="text"],
textarea {
    margin-top:5px;
    height: 38px;
    width:400px;
    max-width: 100%;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #383838;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
    float:right;
}
form .btn{
    margin-left:17.3333333333%;
}
@media (max-width: 700px){
    input[type="email"],
    input[type="text"],
    textarea {
        width:100%;
    }
    form label{
        float:none;
    }
    form .row{
        margin-top:20px;
    }
    form .btn{
        margin-left:0;
    }
}
textarea{
    resize: none;
    height:250px;
}
form label{
    float: left;
    margin-top:12px;
}
form button{
    margin-top:5px;
}

/* Buttons
-----------------------------
*/
.btn-center{
    display:block;
    text-align: center;
}
.btn{
    border-radius:0;
    background-color: #FFFFFF;
    border:3px solid #888888;
    padding:10px;
    color: #E86700;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.btn:hover{
    color: #FFFFFF;
    background-color: #E86700;
    cursor:pointer;
}
.btn:active{
    background-color: #b75800;
}
/* Landingpage
-----------------------------
*/
#landing-logo, #landing-video, #landing-link{
 text-align: center;
 margin: auto;
 padding-bottom: 10px;
}
#landing-page img, #landing-page video{
    max-width:100%;
}
#landing-link{
    margin-top:50px;
}
#landing-link > a{
 text-decoration: none;
 color: white;
 font-family: 'Caesar Dressing', cursive;
}
#landing-link>a:hover{
    text-decoration: underline;
}

/* Paragraph
-----------------------------
*/
.paragraph {
    padding-left: 100px;
    padding-right: 100px;
}

.paragraph img{
    max-width:100%;
}