/* Bottom footer
-------------------------------------
*/
#bottom-footer{
    margin-top:100px;
    padding: 10px;
    font-family: "palatino", Times;
    font-size: 17px;
}
#bottom-footer a{
    color:black;
}
#bottom-footer #contact{
    padding-top:15px;
    position: relative;
    border-right: 2px solid #b6b6b6;
    height:130px;
}
#footer-menu{
    text-align: center;
    padding-top:15px;
    display: block;
}

#footer-menu a{
    display:block;
    font-size: 18px;
    color: #8c8c8c;
    text-decoration: none;
}

#footer-menu a{
    margin-top:10px ;
}
#footer-menu .two a:first-child{
    margin-top: 0;
}

#footer-menu .two:not:first-child a{
    margin-top:10px;
}
#footer-menu a:first-child{
    color: #E86700;
}

#footer-menu a:hover{
    text-decoration: underline;
}

@media (max-width: 1122px){
    #bottom-footer #contact{
        font-size: 14px;
        margin:0;
    }
}

@media (max-width: 875px){
    #contact p{
        margin-left:-30px !important;
    }
    #footer-menu a{
        font-size: 16px;
    }
    .menu-items{
        width:117%;
    }
}

@media (max-width: 734px) {
    #contact p{
        margin-left:-40px !important;
    }
    #footer-menu a{
        font-size: 14px;
    }
}

@media (max-width: 640px) {
    #contact p{
        margin-left: -50px !important;
    }
    #bottom-footer #contact{
        font-size: 12px;
    }
}
@media (max-width: 549px){
    #footer-menu{
        text-align:left;
    }
    .menu-items{
        width:100%;
    }
    .sub-menu{
        margin-left:10px;
    }
    #footer-menu a{
        font-size: 16px;
        margin-top:5px!important;
    }
    #contact p{
        margin: 0 !important;
    }
    #bottom-footer #contact{
        font-size: 14px;
        width:100%;
        height:75px;
        border-right:none;
        border-top: 1px solid #b6b6b6;
        text-align: center;
        padding-top:25px;
    }
}

